themes {
    rose-pine {
	
        fg "#e0def4"
		bg "#191724"
		black "#21202e"
		red "#eb6f92"
        green "#31748f"
        yellow "#f6c177"
        blue "#9ccfd8"
        magenta "#c4a7e7"
        cyan "#ebbcba"
        white "#e0def4"
        orange "#f6c177"
    }
}
