.config/gh
.config/nvim/plugin/packer_compiled.lua
.config/google-chrome
.config/dconf
.config/ibus
.config/libreoffice
.config/pulse
.config/discord
.config/remmina
.config/htop
.config/menus
.config/gedit
.config/enchant
.config/simple-scan
.config/evolution
.config/terminator/plugins/__pycache__
