@define-color theme-bg #282828;
@define-color theme-bg0_h #1d2021;
@define-color theme-bg1 #3c3836;
@define-color theme-bg2 #504945;
@define-color theme-bg3 #665c54;
@define-color theme-bg4 #7c6f64;
@define-color theme-fg #ebdbb2;
@define-color theme-fg0 #fbf1c7;
@define-color theme-fg2 #dfc4a1;
@define-color theme-fg3 #bdae93;
@define-color theme-fg4 #a89984;
@define-color theme-red-soft #cc241d;
@define-color theme-red-harsh #fb4934;
@define-color theme-green-soft #98971a;
@define-color theme-green-harsh #b8bb26;
@define-color theme-yellow-soft #d79921;
@define-color theme-yellow-harsh #fabd2f;
@define-color theme-blue-soft #458588;
@define-color theme-blue-harsh #83a598;
@define-color theme-purple-soft #b16286;
@define-color theme-purple-harsh #d3869b;
@define-color theme-aqua-soft #689d6a;
@define-color theme-aqua-harsh #8ec07c;
@define-color theme-gray-soft #a89984;
@define-color theme-gray-harsh #928374;
@define-color theme-orange-soft #d65d0e;
@define-color theme-orange-harsh #fe8019;

* {
    border: none;
    font-size: 14px;
    font-family: "MonaspiceAr Nerd Font Mono" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: @theme-bg;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: @theme-bg;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: @theme-bg;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
  color: @theme-fg
}

#custom-logo {
	color: @theme-blue-soft;
}

#workspaces button {
	color: @theme-yellow-soft;
}

#workspaces button.active {
	color: @theme-orange-soft;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: @theme-red-soft;
  padding-top: 0;
}




#clock{
  color: @theme-fg;
}

#battery.charging {
    color: @theme-fg;
    background-color: @theme-green-soft;
}

#battery.warning:not(.charging) {
    background-color: @theme-yellow-soft;
    color: @theme-bg;
}

#battery.critical:not(.charging) {
    background-color: @theme-red-soft;
    color: @theme-fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: @theme-fg;
        color: @theme-bg;
    }
}
